.card {
    display: flex;
    flex-direction: column;
    display: inline-block;
    background: white;
    border-radius: 8px;
    margin: 2rem;
    padding: 1rem;
    max-width:1000px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.ex{
    color: rgb(219, 28, 28);
}

.name{
    color: rgb(94, 56, 233);
}